/* animations SCSS */
/* ANIMATIONS
============================================================================= */
/* line 6, animations.scss */
.page.ng-leave {
  z-index: 9999;
}

/* line 7, animations.scss */
.page.ng-enter {
  z-index: 8888;
}

/* line 9, animations.scss */
.hex-fade-in {
  transition: all 700ms ease-in;
}

/* line 12, animations.scss */
.hex-fade-in-enter {
  opacity: 0;
}

/* line 15, animations.scss */
.hex-fade-in-enter-active {
  opacity: 1;
}

/* line 18, animations.scss */
.hex img.inPlace {
  position: relative;
  top: 0;
  left: 0;
}

/* line 26, animations.scss */
.view-container {
  transition: all 120ms ease-in-out;
}

/* line 29, animations.scss */
.fade {
  /*opacity: 0;*/
  transition: all 120ms ease-in;
}

/* line 33, animations.scss */
.second-fade,
.pseudo-fade:before,
.pseudo-fade:after {
  transition: all 240ms ease-in;
}

/* line 38, animations.scss */
.third-fade {
  transition: all 360ms ease-in;
}

/* line 41, animations.scss */
.fourth-fade {
  transition: all 580ms ease-in;
}

/* line 44, animations.scss */
.slow-fade.pseudo-fade:before,
.slow-fade.pseudo-fade:after {
  transition: all 1000ms ease-in;
}

/* line 49, animations.scss */
.view-container.ng-enter .fade,
.view-container.ng-enter .second-fade,
.view-container.ng-enter .third-fade,
.view-container.ng-enter .fourth-fade,
.view-container.ng-enter .pseudo-fade:before,
.view-container.ng-enter .pseudo-fade::after {
  opacity: 0;
}

/* line 57, animations.scss */
.view-container.ng-enter-active .fade,
.view-container.ng-enter-active .second-fade,
.view-container.ng-enter-active .third-fade,
.view-container.ng-enter-active .fourth-fade,
.view-container.ng-enter-active .pseudo-fade:before,
.view-container.ng-enter-active .pseudo-fade::after {
  opacity: 1;
}

/* line 66, animations.scss */
body {
  overflow: hidden;
}

/* line 69, animations.scss */
.view-container {
  overflow-x: hidden;
}

/* line 72, animations.scss */
.view-container.ng-leave {
  top: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  /*-webkit-animation-fill-mode: both;
          animation-fill-mode: both;*/
  -webkit-animation-name: downfromtop;
  animation-name: downfromtop;
}

/* line 84, animations.scss */
.highlight-hex:hover {
  animation-duration: .5s;
  animation-name: hexfloat;
  /*transition: all  500ms ease-in-out;
  transform: translate(0, -7%);*/
}

@-webkit-keyframes downfromtop {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
@keyframes downfromtop {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
@keyframes hexfloat {
  0% {
    transform: translate(0, 0);
    box-shadow: none;
  }
  33% {
    transform: translate(-3%, -12%);
  }
  75% {
    transform: translate(1%, 5%);
  }
  100% {
    transform: translate(0, 0);
    box-shadow: none;
  }
}
