/* 
white:        #FFFFFF
all cs:       #CCCCCC
cool easy gray:   #4B5B6E
Old Wrench Steel: #343444
Cure:       #F1F2DF
Perfection:     #8A6A6A
Cream Vintage   #C99E89
*/
/*($container-width / 13) * (6 / 10.2) * (14/15); //41px;*/
/*$small-hex-margin: ($hex-size * (1.732)) / (1.732 * 2) + ($hex-gutter);*/
/*1 * ($hex-size / 2 * 1.732) + ($hex-gutter / 4 * 1.732) - 1px;*/
