<div ng-controller="preloadController" ng-switch="isLoading" class="fade-out-on-click">
  <!-- BEGIN: Loading View. -->
  <p ng-switch-when="true">
    <div class="preloader loading">
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
    </div>
    <div id="preload-text">{{ percentLoaded }}%</div>  
  </p>
  <!-- END: Loading View. -->

  <!-- BEGIN: Results View. -->
  <div class="container" ng-switch-when="false">
    <div id="lightbox">
      <a id='close-icon' ng-click="closeLightBoxWithEsc()" class="hidden"><img alt="close" src="img/close-x.png"></img></a>
      <div id="refBoxBackground" class="hidden">
      </div>
      <div id="refBox" class="hidden" >
      </div>
    </div>

        <!-- BEGIN: Large Hex Menu -->

    <section id="frontPageMenu" class="clearfix" ng-controller="tilehexCtrl">

        <a tilehex cardinality="north" hex-size="large" hex-class="fade" screen-size="max-width: 0" image-flash="80" hover-src="img/LargeHex/LargeHexLogoHover.png" >
          <img src="img/LargeHex/LargeHexLogo.png"></img>
          <img src="img/LargeHex/LargeHexLogoHover.png"></img>
        </a>    

        <a tilehex cardinality="west" hex-size="large" hex-class="second-fade" screen-size="max-width: 0" hover-src="img/LargeHex/LargeHexAboutHover7.png" href="index.html#/view2" >
          <img src="img/LargeHex/LargeHexAbout.png"></img>
          <img src="img/LargeHex/LargeHexAboutHover7.png"></img>
        </a>

        <a tilehex cardinality="east" hex-size="large" hex-class="third-fade" screen-size="max-width: 0" hover-src="img/LargeHex/LargeHexWorksHover.png" href="index.html#/works" >
          <img src="img/LargeHex/LargeHexWorks.png"></img>
          <img src="img/LargeHex/LargeHexWorksHover.png"></img>
        </a>

        <a tilehex cardinality="south" hex-size="large" hex-class="fourth-fade" screen-size="max-width: 00" hover-src="img/LargeHex/LargeHexContactHover2.png" href="index.html#/contact" >
          <img src="img/LargeHex/LargeHexContact.png"></img>
          <img src="img/LargeHex/LargeHexContactHover2.png"></img>
        </a>

    </section>


    <!-- END: Large Hex Menu -->

    <!-- BEGIN: Background hexGrid -->
    <div class="hexGrid">
      <div ng-repeat="row in hexRow">
        <ol class="{{row.rowClass}}">
          <grid-hex ng-repeat="x in row.hexes" ></grid-hex>
        </ol>
      </div>  
    </div>
    <!-- END: Background hexGrid -->
   
  </div> <!-- END: container - Results View -->
</div> <!-- END: ng-switch isLoading -->